@import url('https://fonts.googleapis.com/css2?family=Avenir&display=swap');
/* CSS to be applied on the navigation bar  */

:root{
  --periwinkle:#DAC4F7;
  --lightGreen:#ACF39D;
  --lightBlue:#9CFFFA;
  --black:#28262C;
  --darkBlue:#0077B6;
  
}

body{
  margin:0;
  height:100%;
}

#root{
  width:100%;
}
nav{
  display:flex;
  width:100%;
  background:white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  position:sticky;
  top:0;
  z-index:10;
  height:4rem;
  align-items:center;
  
}
nav ul{
  display:flex;
  margin-left:auto;
  margin-right:8rem;
  list-style-type: none
}
a, li{
  font-family:var(--normal);
  color:var(--black);
  text-decoration:none;
  font-size:1.2rem;  
  position:relative;

}

nav ul a{
  font-size:26px;
  list-style-type:none;
  font-family: 'Avenir', sans-serif;
  margin-right: 2rem;
  text-decoration:none;
  color:var(--black);
}
.active{
  color:var(--darkBlue);
}

.dropdown{
  position:absolute;
  top:40px;
  height:auto;
  left:0;
  opacity:0;
  transform: translateY(-5%);
  background-color:white;
  border-radius:10px;

  overflow:hidden;
  box-shadow:black -2px -2px;
  flex-direction:column;
    transition:all 1s;
  display:flex;
}
.dropdown a{
  --mar : 1rem;
  margin-left:var(--mar);
  margin-right:var(--mar);
}

.menu-item{
  height:50px;
  display:flex;
  justify-content:center;
}

.footer{
  display:flex;
  background:white;
  padding:1rem 20%;
  justify-content:space-around;
}
.footer div ul{
    list-style-type:none;

}

.footer div ul li a{
    list-style-type:none;
    display:inline-block;
  position:relative;

}

.footer div ul li:nth-child(1){
  font-weight:bold;
  font-family:var(--normal);
  padding-bottom:0.5rem;
  
}
a::before{
  background:var(--darkBlue);
  transform:scaleX(0) scaleY(0.1);
  transition:transform 700ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
  content:"";
  position:absolute;
    bottom:-0.075em;
  height:100%;
  width:100%;
  inset:0px;
  transform-origin: left bottom;
  display:block;
}
a:hover::before{
  transform:scaleX(1) scaleY(0.1);
  }